%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{erl_opts, [
            {i, "_build/default/plugins/gpb/include"}
           ]}.

{deps, [
        {xsync_proto_files, {raw,{git, "git@gitlab.zidanduanxin.top:entropy/xsync.git", {branch, "master"}}}},
        {maxim_common, {raw, {git, "git@gitlab.zidanduanxin.top:entropy/maxim-common.git", {branch, "master"}}}}
       ]}.

{gpb_opts, [
            {i, "../../_build/default/lib/xsync_proto_files"},
            {i, "../../_build/default/lib/maxim_common"},
            {module_name_suffix, "_pb"},
            {o_erl, "src"},
            {o_hrl, "include"},
            {strings_as_binaries, true},
            type_specs]}.

{provider_hooks, [
                  {pre, [
                         {compile, {protobuf, compile}},
                         {clean, {protobuf, clean}}
                        ]}
                 ]}.
{pre_hooks, [
              %% {compile, "escript format_xid.escript"}
]}.

{plugins, [
           { rebar3_gpb_plugin, "2.5.0" },
           {rebar_raw_resource,
             {git, "git://github.com/basho/rebar_raw_resource.git",
              {branch, "master"}}}
          ]}.
