%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

[
 { xsync,
   [
    {node_type, all_feature},
    {cluster, local},
    {tcp_opts,[{max_connections, infinity},
               {num_acceptors, 100},
               {socket_opts, [{port, 1729},
                              {backlog, 4096},
                              {nodelay, true},
                              {recbuf, 4096},
                              {keepalive, true},
                              {sndbuf,4096},
                              {buffer, 1460},
                              {send_timeout_close,true},
                              {reuseaddr, true},
                              {exit_on_close,true}
                             ]}]},
    {websocket_opts,
     [{port, 1730},
      {compress, false},
      {idle_timeout, 300000},
      {max_frame_size, 65536}
     ]},
    {client_speed, 3000},
    {auth_method, none}, %% jwt|none
    {device_update_method, thrift}, %% thrift|none
    {thrift_service, [{port, 1732}]},
    {all_feature,[send_msg_chat, send_msg_groupchat, group_notice, roster_notice, user_notice,
                  message_history,
                  worker]},
    {node_role_features, [worker]},
    {send_msg_features, [
                         send_msg_chat,
                         send_msg_groupchat
                        ]},
    {send_msg_chat,[
                    {kafka_service, kafka_send_msg_chat},
                    {speed, 20000}
                   ]},
    {send_msg_groupchat, [
                           {kafka_service, kafka_send_msg_groupchat},
                           {speed, 20000}
                          ]},
    {group_notice_features, [
                             group_notice
                            ]},
    {group_notice, [
                    {kafka_service, kafka_group_notice},
                    {speed, 1000}
                   ]},
    {roster_notice_features, [
                             roster_notice
                            ]},
    {roster_notice, [
                    {kafka_service, kafka_roster_notice},
                    {speed, 1000}
                   ]},
    {user_notice_features, [
                             user_notice
                            ]},
    {user_notice, [
                    {kafka_service, kafka_user_notice},
                    {speed, 1000}
                   ]},
    {message_history_features, [
                                message_history
                               ]},
    {message_history, [
                       {kafka_service, kafka_message_history},
                       {speed, 200}
                      ]},
    {message_recall_time_limit, 600000},
    {c2s_hibernate_timeout, 10000},
    {node_rpc_timeout, 6000},
    {roster_message_rule,
     [{friend, allow},
      {friend_deleted, deny},
      {stranger, deny} % allow|deny
     ]},
    {roster_fail_bypass, true},
    {privacy_fail_bypass, true},
    {enable_device_status_change_notice, true}
   ]},
 {message_store,
  [
   {use_new_id_rule, true},
   {device_group, [{'IOS', mobile},
                   {'ANDR', mobile},
                   {'WIN', win},
                   {'OSX', osx},
                   {'LINUX', linux},
                   {'WEB', web},
                   {'UNKNOWN', unknown}]},
   {device_group_limit, [{mobile, 5},
                         {win, 5},
                         {osx, 5},
                         {linux, 5},
                         {web, 5},
                         {unknown, 0}]},
   {device_expire_time, [{mobile, 604800000},
                         {win, 604800000},
                         {osx, 604800000},
                         {linux, 604800000},
                         {web, 604800000},
                         {unknown, 604800000}]},
   {enable_body_read_odbc, true},
   {enable_body_write_odbc, true},
   {enable_message_history_write_odbc, true},
   {enable_kafka_log_write, true},
   {enable_kafka_message_history_write, true},
   {kafka_log_method, collector_sync}, %% collector_async|collector_sync|async|async_no_ack
   {kafka_log_topics, [{message_up, <<"ratel-xsync-message-up-test">>},
                       {message_down, <<"ratel-xsync-message-down-test">>},
                       {message_offline, <<"ratel-xsync-message-offline-test">>},
                       {message_ack, <<"ratel-xsync-message-ack-test">>},
                       {user_status, <<"ratel-xsync-user-status-test">>},
                       {user_info, <<"ratel-xsync-user-info-test">>}]},
   {kafka_message_history_topic, <<"fireplace-message-history-test">>},
   {group_db_type, redis},
   {roster_db_type, thrift_with_redis},
   {metrics_module, xsync_metrics}
  ]},
 {redis_pool,
  [
   {default_timeout, 5000},
   {metrics_module, xsync_metrics},
   {services, [index, body, device, session, group, idcache, roster, apns]},
   {index, [
            {host, "r-2zeef54a1785e114.redis.rds.aliyuncs.com"},
            {port, 6379},
            {db, 0},
            {password, "h1XcVY9qHVqDVGhEkvwg"},
            {pool_size, {each_scheduler, 1}}
           ]},
   {body, [
           {host, "r-2zeef54a1785e114.redis.rds.aliyuncs.com"},
           {port, 6379},
           {db, 0},
           {password, "h1XcVY9qHVqDVGhEkvwg"},
           {pool_size, {each_scheduler, 1}}
          ]},
   {device, [
             {host, "r-2zeef54a1785e114.redis.rds.aliyuncs.com"},
             {port, 6379},
             {db, 0},
             {password, "h1XcVY9qHVqDVGhEkvwg"},
             {pool_size, {each_scheduler, 1}}
            ]},
   {session, [
             {host, "r-2zeef54a1785e114.redis.rds.aliyuncs.com"},
             {port, 6379},
             {db, 0},
             {password, "h1XcVY9qHVqDVGhEkvwg"},
             {pool_size, {each_scheduler, 1}}
            ]},
   {idcache, [
             {host, "r-2zeef54a1785e114.redis.rds.aliyuncs.com"},
             {port, 6379},
             {db, 0},
             {password, "h1XcVY9qHVqDVGhEkvwg"},
             {pool_size, {each_scheduler, 1}}
            ]},
   {apns, [
             {host, "r-2zeef54a1785e114.redis.rds.aliyuncs.com"},
             {port, 6379},
             {db, 0},
             {password, "h1XcVY9qHVqDVGhEkvwg"},
             {pool_size, {each_scheduler, 4}}
            ]},
   {group, [
             {host, "r-2zeef54a1785e114.redis.rds.aliyuncs.com"},
             {port, 6379},
             {db, 0},
             {password, "h1XcVY9qHVqDVGhEkvwg"},
             {pool_size, {each_scheduler, 1}}
            ]},
   {roster, [
             {host, "r-2zeef54a1785e114.redis.rds.aliyuncs.com"},
             {port, 6379},
             {db, 0},
             {password, "h1XcVY9qHVqDVGhEkvwg"},
             {pool_size, {each_scheduler, 1}}
            ]}
  ]},
 {thrift_pool,
  [
   {services, [user_service_thrift, group_service_thrift, roster_service_thrift]},
   {user_service_thrift,[{server_list, [{"192.168.241.50", 6291},{"192.168.241.51", 6291}]},
                         {multiplexing_name, "user"},
                         {pool_size, {each_scheduler, 1.0}},
                         {max_overflow, {each_scheduler, 5.0}},
                         {options, [{framed, true},
                                    {connect_timeout, 1000},
                                    {recv_timeout, 1000},
                                    {sockopts, [{keepalive, true}]}]}]},
   {group_service_thrift,[{server_list, [{"192.168.241.50", 6291},{"192.168.241.51", 6291}]},
                         {multiplexing_name, "group"},
                         {pool_size, {each_scheduler, 1.0}},
                         {max_overflow, {each_scheduler, 5.0}},
                         {options, [{framed, true},
                                    {connect_timeout, 1000},
                                    {recv_timeout, 1000},
                                    {sockopts, [{keepalive, true}]}]}]},
   {roster_service_thrift,[{server_list, [{"192.168.241.50", 6291},{"192.168.241.51", 6291}]},
                         {multiplexing_name, "roster"},
                         {pool_size, {each_scheduler, 1.0}},
                         {max_overflow, {each_scheduler, 5.0}},
                         {options, [{framed, true},
                                    {connect_timeout, 1000},
                                    {recv_timeout, 1000},
                                    {sockopts, [{keepalive, true}]}]}]}
  ]},
 {kafka_pool,
  [
   {client_default,[
                    {restart_delay_seconds, 10},
                    {get_metadata_timeout_seconds, 5},
                    {reconnect_cool_down_seconds, 1},
                    {allow_topic_auto_creation, false},
                    {auto_start_producers, true},
                    {ssl, false},
                    {sasl, undefined},
                    {connect_timeout, 5000},
                    {request_timeout, 240000},
                    {query_api_versions, true},
                    {extra_sock_opts, []}
                   ]},
   {producer_default, [
                       {required_acks, 0},
                       {ack_timeout, 10000},
                       {partition_buffer_limit, 4096},
                       {partition_onwire_limit, 1},
                       {max_batch_size, 1048576},
                       {max_retries, 3},
                       {retry_backoff_ms, 500},
                       {compression, no_compression}, % no_compression|gzip|snappy
                       {max_linger_ms, 0},
                       {max_linger_count, 0},
                       {produce_req_vsn, undefined}
                      ]},
   {consumer_default, [
                       {min_bytes, 0},
                       {max_bytes, 1048576},
                       {max_wait_time, 10000},
                       {sleep_timeout, 1000},
                       {prefetch_count, 10000},
                       {prefetch_bytes, 1048576},
                       {begin_offset, earliest}, % latest|earliest
                       {offset_reset_policy, reset_by_subscriber},
                       {size_stat_window, 5}
                      ]},
   {consumer_group_default, [
                             {partition_assignment_strategy, roundrobin_v2},
                             {session_timeout_seconds, 10},
                             {heartbeat_rate_seconds, 2},
                             {max_rejoin_attempts, 30},
                             {rejoin_delay_seconds, 1},
                             {offset_commit_policy, commit_to_kafka_v2},
                             {offset_commit_interval_seconds, 2},
                             {offset_retention_seconds, -1},
                             {protocol_name, roundrobin_v2}
                            ]},
   {produce_collector, [{pool_size, {each_scheduler, 30}}]},
   {services, [kafka_message_up,
               kafka_message_down,
               kafka_message_offline,
               kafka_message_ack,
               kafka_user_status,
               kafka_user_info,
               kafka_send_msg_chat,
               kafka_send_msg_groupchat,
               kafka_group_notice,
               kafka_roster_notice,
               kafka_user_notice,
               kafka_message_history
              ]},
   {kafka_message_up,[
                      {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		      {consumer_group_id, <<"CID-alikafka_fireplace-test">>},
                      {pool_size, 1}
                     ]},
   {kafka_message_down,[
                        {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		        {consumer_group_id, <<"CID-alikafka_fireplace-test">>},
                        {pool_size, 1}
                       ]},
   {kafka_message_offline,[
                           {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		           {consumer_group_id, <<"CID-alikafka_fireplace-test">>},
                           {pool_size, 1}
                          ]},
   {kafka_message_ack,[
                       {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		       {consumer_group_id, <<"CID-alikafka_fireplace-test">>},
                       {pool_size, 1}
                      ]},
   {kafka_user_status,[
                       {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		       {consumer_group_id, <<"CID-alikafka_fireplace-test">>},
                       {pool_size, 1}
                      ]},
   {kafka_user_info,[
                     {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		     {consumer_group_id, <<"CID-alikafka_fireplace-test">>},
                     {pool_size, 1}
                    ]},
   {kafka_send_msg_chat,[
                    {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		    {consumer_group_id, <<"CID-alikafka_fireplace-send-msg-chat-test">>},
                    {topic, <<"ratel-send-msg-chat-test">>}
                   ]},
   {kafka_send_msg_groupchat,[
                    {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		    {consumer_group_id, <<"CID-alikafka_fireplace-send-msg-groupchat-test">>},
                    {topic, <<"ratel-send-msg-groupchat-test">>}
                   ]},
   {kafka_group_notice,[
                    {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		    {consumer_group_id, <<"CID-alikafka_fireplace-group-notice-test">>},
                    {topic, <<"ratel-group-notice-test">>}
                   ]},
   {kafka_roster_notice,[
                    {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
		    {consumer_group_id, <<"CID-alikafka_fireplace-roster-notice-test">>},
                    {topic, <<"ratel-roster-notice-test">>}
                        ]},
   {kafka_user_notice,[
                    {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
        {consumer_group_id, <<"CID-alikafka_fireplace-user-notice-test">>},
                    {topic, <<"ratel-user-notice-test">>}
       ]},
   {kafka_message_history,[
                           {server_list, [{"192.168.233.81", 9092},{"192.168.233.82", 9092},{"192.168.233.83", 9092}]},
			   {consumer_group_id, <<"CID-alikafka_fireplace-message-history-test">>},
                           {topic, <<"fireplace-message-history-test">>}
                          ]}
  ]},
 {odbc_pool,
  [
   {services, [odbc]},
   {odbc, [
           {host, <<"drdsbgga7vr8uf49.drds.aliyuncs.com">>},
           {port, 3306},
           {database, <<"fireplace_test">>},
           {username, <<"fireplace_test">>},
           {password, <<"xCccGbcchlEYzM5O78vT">>},
           {pool_size, {each_scheduler, 5}},
           {start_interval, 30},
           {keepalive_interval, 90}
          ]},
   {metrics_module, xsync_metrics}
  ]},
 {xsync_proto,
  [
   {encrypt_methods,['ENCRYPT_NONE',
                     'AES_CBC_128',
                     'AES_CBC_256'
                    ]},
   {private_keys, [<<"-----BEGIN RSA PRIVATE KEY-----\n"
										 "MIIEowIBAAKCAQEAuzeq6m5LWSFYypzy8xhspKDKlRji1QRzuv3Vmll5UpRmKFcA\n"
                     "EmfuGGD/hiqkJCJhRhSajmRHuJB0VHzthDK53f0mezyCcKac2IN1vcirpqiUUFhD\n"
                     "vPn1TEUsJDz7VlZChiZy1QyTsD0x6bupQuAZL7wNkLJebdnIYw2oIduSVYwNvU4h\n"
                     "RuAvFqNM8RizIEfTqpclF4ymMKXonp/n9br4vRtT7QRJg/uCHn9o61kw241jqeIV\n"
                     "ggyUKieWisiWkN06cBeYsbFBeLlLhTJpctqz+LAuh7FmH3PUFVW9OTHnb0M/kjbW\n"
                     "YMwk7pRK35yVdtZT1kE8mO2zd8PgiAIiz4uSjwIDAQABAoIBAF80RM8oPVra8Vs/\n"
                     "ivCCGCVzuvEtEZS/ydZqZKg0HdUXsAeNjnTNsy9kjCx/HK9faFYJ/jqw1iQOGYop\n"
                     "aWNTpF817861i6ObpqEX4NUc6eU7Twi4ieHcvpgFiRf4htt1zCiJ/tVGqwfxZqN0\n"
                     "kfN3IHe8yq0td4WnPRbaCAkHrpefXNSTwk7+Ax91flkQlV+nkNZkxAhT2t1XrEhp\n"
                     "b69niPmhIF5SZk8pIezGnu0Xiy+U735R6ndvslICqQKCyCdb4UZEvmnGLfkwg3Jt\n"
                     "5PbcZ3ena2dwn0DgYcD6Aly5dCRs3pf6B5c+BpVqCANohbT7w+/B9SslNtt+eQ2i\n"
                     "5VmAZMkCgYEA60kO9rrBGcN7Y4GBLb4U0JY4+DyS/57GZ8GSgKs66sSsKZJHolec\n"
                     "C7sS+zGk4c09w87bEqllZNzQlEWL+gPL9q040+B3EOxd/mgFVs+B7i3MN0lLEqsF\n"
                     "9MBQbxMnzIw7KEY4EJ1nwsRVIdHcGpsiGjHGiRcdtsXmS0iZvEIdVOsCgYEAy7M8\n"
                     "5LOl0qlYRpuTkcOnhz8/sxiJCAPqYhk9HrXLC7X5NX8t9w5jhnlbjAvckqjSmbVc\n"
                     "rx+VGMhGK8Ou0HoEZLSyoDv05aqkEgtCobMPaYPEy0LDOGGqixweSGO5FvZpbij0\n"
                     "jUOXSDqiXPYuWNFae7jZ8bXzhYD6bDRucDZyn+0CgYB4qBaMYGj2FVEJTjg4hOmX\n"
                     "rfG5GxcnDv0f6ByA705fZkwDZYhmsBbNzTmGp4auZNnvt/yQLV5ZwwMThjaqF5hY\n"
                     "/6vMu6dTfmMVO7LBOdifk8zN7UAaaqm7QYP98gzO0HrlxFyr6Ix1TMl7dmsxGaz7\n"
                     "UdtGIhySxhm7MZfk+uKf0QKBgQDDNJziPhZm7sodv/GG+oyM21vb8WNAPyBZqf4c\n"
                     "c/KE4npTffE6lJtjvuCwMJ3MHeTUUCzl1co32ZUFU50vQ/750wBq9YoWnZRlhkzw\n"
                     "UHwwjYoFj5EtcsrQTL3oeUhibPlUDANvbJqJKUd29qQrkVS4w8h4Dfm0solJMGW1\n"
                     "OzhVcQKBgCoKsHmsOCpj+Kx3BzG6yMnaIoPvwUTT6ujr38A2iiRLVHyvGCPO4RyQ\n"
                     "zihHShBF+ZiUvOvDcg8BPaPWkqrphMIJHi9Zz5NMHYlyVJ1oKV+X9zgLKkSBm821\n"
                     "HsnDOnHcTs41GoIx27zpbRw/g4XM7uS/ks3vNfs6Qj7/0M+GbonI\n"
                     "-----END RSA PRIVATE KEY-----\n">>
                  ]}
  ]},
 {prometheus,
  [
   {collectors, [xsync_status_collector]},
   {default_metrics,
    [
     {counter, [{name, message_up},{labels,[type]},{help, "Message up count"}]},
     {counter, [{name, message_down},{labels,[type]},{help, "Message down count"}]},
     {counter, [{name, message_deliver},{labels,[type]},{help, "Message deliver count"}]},
     {counter, [{name, message_ack},{labels,[type]},{help, "Message ack count"}]},
     {counter, [{name, client_auth},{labels,[code,result]},{help, "Client auth result"}]},
     {counter, [{name, client_send_msg},{labels,[code, reason]},{help, "Client send message result"}]},
     {counter, [{name, client_recv_msg},{labels,[code, reason]},{help, "Client receive message result"}]},
     {counter, [{name, client_recv_msg_history},{labels,[code,reason]},{help, "Client receive message history result"}]},
     {counter, [{name, client_get_unread},{labels,[code, reason]},{help, "Client receive unread num result"}]},
     {counter, [{name, redis},{labels,[service, result]},{help, "redis count"}]},
     {counter, [{name, odbc},{labels,[service, result]},{help, "odbc count"}]},
     {counter, [{name, event}, {labels, [name]},{help, "event count for debug or notice"}]}
    ]}
  ]},
 {ticktick,
  [
   {machine_id, 1},
   {ip, "0.0.0.0"},
   {port, 18080}
  ]},
 {socketio,
  [
   {session_key, <<"FIREPLACE_SESSION_KEY_ACJSLKHDFAJLKJFDKL">>}
  ]},
 {fireplace_config,
  [
   {method, none}, %% zookeeper|none
   {enable_zookeeper_config_env, true},
   {enable_zookeeper_config_machine_id, true},
   {enable_zookeeper_config_node_register, true},
   {machine_id_min, 1},
   {machine_id_max, 1000},
   {zookeeper_list, [{"zookeeper", 2181}]},
   {zookeeper_root, "/fireplace"}
  ]},
 {fireplace_plugins,
  [
   {plugins, [plugin_antispam_wangyidun]},
   {plugin_antispam_wangyidun,[
                               {enable, false},
                               {secret_id, "wangyidun_secret_id"},
                               {secret_key, "wangyidun_secret_key"},
                               {business_id, "wangyidun_business_id"},
                               {http_timeout, 5000},
                               {doubt_msg, allow},
                               {deny_msg, deny},
                               {fail_msg, allow}]}
  ]},
 {lager,
  [
   {log_root, "/data/root/fireplace"},
   {error_logger_hwm, 1000},
   {async_threshold, 200000},
   {async_threshold_window,5},
   {handlers, [
               {lager_console_backend,
                [{level, info},
                 {formatter, lager_default_formatter},
                 {formatter_config, [date," ",time," [",severity,"] ",pid,"@",
                                     module,":",function,":",line," ",message,"\r\n"]}
                ]},
               {lager_file_backend,[{file, "info.log"},
                                    {level, info},
                                    {size, 209715200},
                                    {count, 200},
                                    {high_water_mark, 5000},
                                    {sync_on, critical}]},
               {lager_file_backend,[{file, "error.log"},
                                    {level, error},
                                    {count, 200},
                                    {high_water_mark, 1000},
                                    {sync_on, critical}]}
              ]}
  ]}
].
